---
layout: home
---
  <div class="text-gray-800 antialiased">

    <main>
      <div
        class="relative pt-16 pb-32 flex content-center items-center justify-center"
        style="min-height: 75vh;"
      >
        <div
          class="absolute top-0 w-full h-full bg-center bg-cover"
          style='background-image: url("https://images.unsplash.com/photo-1513151233558-d860c5398176?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=2670&amp;q=80");'
        >
          <span
            id="blackOverlay"
            class="w-full h-full absolute opacity-75 bg-black"
          ></span>
        </div>
        <div class="container relative mx-auto">
          <div class="items-center flex flex-wrap">
            <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
              <div class="pr-12">
                <h1 class="text-white font-semibold text-5xl">
                  Riverview Elementary<br />Class of 2023
                </h1>
                <p class="mt-4 text-lg text-gray-300">
                  A year to remember!
                </p>
                <div id=countdown-wrap class="grid grid-cols-3">
                  <div id="goal" class="col-start-3">${{ site.countdown.goal }}</div>
                  <div id="glass" class="col-span-3">
                    <div id="progress" style="width: {{ site.countdown.raised | divided_by: site.countdown.percentage_mult }}%;">
                    </div>
                  </div>
                  <div class="goal-stat">
                    <span class="goal-number">{{ site.countdown.raised | divided_by: site.countdown.percentage_mult }}%</span>
                    <span class="goal-label">Funded</span>
                  </div>
                  <div class="goal-stat">
                    <span class="goal-number">${{ site.countdown.raised }}</span>
                    <span class="goal-label">Raised</span>
                  </div>
                  <div class="goal-stat">
                    <span class="goal-number"><div id="countdown"></div></span>
                    <span class="goal-label">Days to Go</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <svg class="arrows">
            <path class="a1" d="M0 0 L30 32 L60 0"></path>
            <path class="a2" d="M0 20 L30 52 L60 20"></path>
            <path class="a3" d="M0 40 L30 72 L60 40"></path>
          </svg> -->
        </div>
        <div
          class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden"
          style="height: 70px; transform: translateZ(0px);"
        >
          <svg
            class="absolute bottom-0 overflow-hidden"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="none"
            version="1.1"
            viewBox="0 0 2560 100"
            x="0"
            y="0"
          >
            <polygon
              class="text-gray-300 fill-current"
              points="2560 0 2560 100 0 100"
            ></polygon>
          </svg>
        </div>
      </div>
      <section class="pb-20 bg-gray-300 -mt-24">
        <div class="container mx-auto px-4">
          <div class="flex flex-row flex-wrap mx-auto">
            <div class="lg:pt-12 pt-6 md:w-3/4 sm:w-full px-2 text-center mx-auto">
              <div
                class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
              >
                <div class="px-4 py-5 flex-auto">
                  <div
                    class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-red-400"
                  >
                    <i class="fas fa-calendar"></i>
                  </div>
                  <h6 class="text-xl font-semibold">Upcoming Events</h6>
                  <p class="mt-2 mb-4 text-gray-600">
                    {%- include calendar.html %}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="relative py-20">
        <div
          class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
          style="height: 80px; transform: translateZ(0px);"
        >
          <svg
            class="absolute bottom-0 overflow-hidden"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="none"
            version="1.1"
            viewBox="0 0 2560 100"
            x="0"
            y="0"
          >
            <polygon
              class="text-white fill-current"
              points="2560 0 2560 100 0 100"
            ></polygon>
          </svg>
        </div>
        <div class="container mx-auto px-4 text-center w-full">
          <div class="soopr-btn w-full"></div>
        </div>
    </main>

  </div>
  <script>
    function toggleNavbar(collapseID) {
      document.getElementById(collapseID).classList.toggle("hidden");
      document.getElementById(collapseID).classList.toggle("block");
    }
  </script>
