{% ical url: site.calendar reverse: false only_future: true %}
<div>
  <ul class="calendar">
    <li><strong>{{ event.summary }}</strong> - <a href="{{ event.url }}">{{ event.dtstart | in_time_zone: "America/Toronto" | date: "%b %d, %Y"}}</a></li>
    <ul>
      <li>From: {{ event.start_time | in_time_zone: "America/Toronto" | date: "%I:%M %p" }}</li>
      <li>Until: {{ event.end_time | in_time_zone: "America/Toronto" | date: "%I:%M %p" }}</li>
      <li>Location: {{ event.location }}</li>
    </ul>
  </ul>
</div>
{% endical %}
