{% if site.donations.paypal %}
<div class="grid grid-cols-3 gap-5 content-stretch">
  <div></div>
  <div>
    <a href="https://www.paypal.com/pools/c/{{ site.donations.paypal.id }}">
      <button class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2" name="submit">
        <span>{{ site.donations.paypal.text | default: 'Donations' }}</span>
      </button>
    </a>
  </div>
  <div></div>
</div>
{% endif %}
