/* #countdown-wrap {
  width: 100%;
  height: 300px;
  padding: 20px;
  font-family: arial;
  max-width: 650px;
  margin: 150px auto 300px;
} */

#goal {
  font-size: 48px;
  text-align: right;
  color: #FFF;
  @media only screen and (max-width : 640px) {
    text-align: center;
  }

}

#glass {
  width: 100%;
  height: 20px;
  background: #c7c7c7;
  border-radius: 10px;
  /* float: left;
  overflow: hidden; */
}

#progress {
  float: left;
  width: 0%;
  height: 20px;
  background: #FF5D50;
  z-index: 333;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.goal-stat {
  padding-top: 10px;
  float: left;
  margin: 0;
  color: #FFF;
  white-space: nowrap;

  @media only screen and (max-width : 640px) {
    width: 50%;
    text-align: center;
  }
}

.goal-number, .goal-label {
  display: block;
}

.goal-number {
  font-weight: bold;
}

.calendar {
  list-style-type: disc;
  text-align: left;
  margin-left: 5%;
}
