<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}" class="h-full">

{%- include head.html -%}

<body class='h-full'>

  {{ content }}

  {%- include footer.html -%}

</body>

</html>
