---
layout: default
---
{%- if page.image -%}
<div class="relative overflow-hidden bg-no-repeat bg-cover" style="
background-position: 50% 85%;
background-image: url('assets/img/riverview.jpg');
height: 350px;
">
  <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
    style="background-color: rgba(0, 0, 0, 0.50)">
    <div class="flex justify-center items-center h-full">
      <div class="text-center text-white px-6 md:px-12">
        <h1 class="text-5xl font-bold mt-0 mb-6">{{ page.title | escape }}</h1>
      </div>
    </div>
  </div>
</div>
{%- endif -%}
<div class="relative py-24 md:py-28 bg-white overflow-hidden font-sans">
  <div class="relative px-4 sm:px-6 lg:px-8">
    <div class="text-lg max-w-prose mx-auto mb-8">
      {%- unless page.image -%}
      <h1
        class="font-misc mt-2 mb-4 text-4xl text-center-DIS leading-8 font-extrabold text-gray-800 md:text-4xl sm:leading-10">
        {{ page.title | escape }}</h1>
      {%- endunless -%}
      <div class="max-w-prose mx-auto mt-4 mb-6 soopr-btn soopr-btn-def" style="min-height: 36px;"></div>
    </div>
    <div class="prose prose-lg text-gray-800 mx-auto">
      {{ content }}
    </div>
    <div class="max-w-prose text-lg mx-auto mt-4 mb-8 soopr-btn soopr-btn-def" style="min-height: 36px;"></div>
  </div>
</div>
